[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "flipr"]
	path = flipr
	url = https://github.com/lmjl-alea/flipr
[submodule "rgeomstats"]
	path = rgeomstats
	url = https://github.com/lmjl-alea/rgeomstats
[submodule "rgudhi"]
	path = rgudhi
	url = https://github.com/lmjl-alea/rgudhi
[submodule "squat"]
	path = squat
	url = https://github.com/lmjl-alea/squat
