[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "distops"]
	path = distops
	url = https://github.com/lmjl-alea/distops
[submodule "midi"]
	path = midi
	url = https://github.com/lmjl-alea/midi
[submodule "rgeomstats"]
	path = rgeomstats
	url = https://github.com/lmjl-alea/rgeomstats
[submodule "squat"]
	path = squat
	url = https://github.com/lmjl-alea/squat
